@font-face {
  font-family: 'Spirly';
  src: url('./fonts/Spirly.ttf') format('truetype'); /* Use relative path */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Use swap to improve loading experience */
}
   
